<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>   </title>
</head>
<style type="text/css">
	
	.div{
		width: 99%;
		height: 400px;
		float: top;
		border: 1px soild red;
		margin: 0 auto;
	}
	.div .div1{
		float: top;
		width: 98%;
		height: 400px;
		background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.2, #f2f2f2));border: 1px solid #ccc; -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);border-radius: 1em;
	}	

</style>

<body>
	<div class="div">
		<div class="div1" >
		</div>
		
		
	</div>

	

</body>
</html>
